<ul class="share-buttons">
  <li><a href="https://www.facebook.com/sharer/sharer.php?u=http://yeswecrowd.co<%= current_page.url %>" target="_blank" title="Share on Facebook" ><%= image_tag 'Facebook.png', :alt => "fb-share" %></a></li>
	<li><a href="https://twitter.com/share?url=http://yeswecrowd.co<%= current_page.url %>&text=<%= current_article.title unless current_article.nil? %>&via=numaparis &hashtags=yeswecrowd" target="_blank"><%= image_tag 'Twitter.png', :alt => "tw-share" %></a></li>
  <li><a href="http://www.linkedin.com/shareArticle?mini=true&url=http://yeswecrowd.co<%= current_page.url %>&title=<%= current_article.title unless current_article.nil? %>" target="_blank" title="Share on LinkedIn"><%= image_tag 'LinkedIn.png', :alt => "linkedin-share" %></a></li>
  <li><a href="mailto:?subject=<%= current_article.title unless current_article.nil? %>&body=http://yeswecrowd.co<%= current_page.url %>" target="_blank" title="Email"><%= image_tag 'Email.png', :alt => "email" %></a></li>
</ul>