---
pageable: true
per_page: 10
---

	<header class="intro">
		<div id="le-logo">
			<div>
				<div class="in">
					<h1>#YESWECROWD</h1>
				 		<p class="bump"><em>Dernier jours avant la fin de la campagne. Dernier week-end pour entrer dans l’aventure internationale de NUMA. C’est une fois, et c’est maintenant.</em></p>
					<div id="count"><div class="your-clock"></div></div>
					<a class="btn btn-blue" href="https://www.smartangels.fr/entreprises/numa" target="_blank">Rejoignez le Mouvement</a>
				</div>
			</div>
		</div>
		<!-- <strong id="downflash">&#9660;</strong> -->
		<!-- <a class="logo-smartangels" href="https://www.smartangels.fr/entreprises/numa" target="_blank"><%= image_tag 'logo_smartangels.png', :alt => "Logo SmartAngels" %></a> -->
	</header>

	<div id="main" role="main" class="home clearfix">
		<div class="container">
			<div class="row">
				<div class="col-sm-8">
					<section id="campaign">
						<h2><%= t(:pageheading) %></h2>
						<p><em><%= t(:motmarie) %></em>
						</p>
						<strong class="sig"><%= image_tag 'marie.jpg', :alt => "Marie Vorgan Le Barzic" %> <strong>Marie Vorgan Le Barzic <em>CEO</em></strong></strong>
						<div class="smartangels">
							<h3><%= t(:operationheading) %></h3>
							<p><%= t(:uniquemodel) %> <a href="http://SmartAngels.fr">SmartAngels.fr</a></p>
							<p><strong><%= t(:campaignduration) %></strong></p>
						</div>
						<div class="action"> <a class="btn btn-blue" target="_blank" href="https://www.smartangels.fr/entreprises/numa"><%= t(:participate) %></a> </div>
					</section>

					<div class="le-video">
						<div class="fluid">
							<div class="mask"><iframe src="https://www.youtube.com/embed/co7_qw9W87o" frameBorder="0" allowfullscreen></iframe></div>
						</div>
					</div>
					
					<section id="ambition">
						<h2><%= t(:headingambition) %></h2>
						<div class="row">
							<div class="col-sm-8">
								<%= image_tag 'map.png', :class => "img-responsive", :alt => "Expanssion Map" %>
							</div>
							<div class="col-sm-4">
								<h4><%= t(:firstambition) %></h4>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-12">
								<h4><%= t(:secondambition) %></h4>
								<p><%= t(:secondambitiondetails) %></p>
							</div>
						</div>

						<h2><%= t(:numamodel) %></h2>
						<div class="row">
							<div class="col-sm-6">
								<p><%= t(:modeldetails) %></p>
							</div>
							<div class="col-sm-6">
								<%= image_tag 'diagram.png', :class => "img-responsive", :alt => "NUMA Expanssion Map" %>
							</div>
						</div>
						<p><strong class="sig"><%= image_tag 'lucas_francou.jpg', :alt => "Lucas Francou" %> <strong>Lucas Francou <em><%= t(:lucasjobdesc) %></em></strong></strong></p>
						<div class="action"> <a class="btn btn-blue" href="https://www.smartangels.fr/entreprises/numa"><%= t(:participate) %></a> </div>
					</section>
					
					<section id="realisations">
						<h2><%= t(:headingproof)%></h2>
						<div class="posts">
							<% blog.articles.select do |article| %>
								<% if article.data.category == 'blogging' && article.data.lang == t(:lang) %>
									<article>
									  <div class="small-cover"><a href="<%= article.url %>"><%=image_tag article.data.cover %></a></div>
									  <h3 class="title"><a href="<%= article.url %>"><%= article.data.apercu %></a></h3>
									</article>
								<% end %>
							<% end %>
						</div>
					</section>
					
					<section id="meetups">
						<h3>Meetups</h3>
						<p> <%= t(:meetups) %> <a href="mailto:yeswecrowd@numa.paris">yeswecrowd@numa.paris</a></p>
						<p><a target="_blank" class="btn btn-black" href="https://www.numa.paris/Evenements/Num-Apero-7-Soiree-speciale-YesWeCrowd"><%= t(:register) %></a>
					</section>
			  </div>

			  <div class="col-sm-4">
			  	<div id="myAffix">
			  		<div id="timeline">
			  			<ul role="tablist">
			  				<li class="bref">
									<a href="https://www.smartangels.fr/entreprises/numa" target="_blank"><%= image_tag 'logo_smartangels.png', :alt => "Logo SmartAngels" %></a>
			  					<em><%= t(:campaigndiscover) %> Smartangels.fr</em>
			  				</li>
			  				<li><a class="btn btn-blue" href="https://www.smartangels.fr/entreprises/numa"><%= t(:participate) %></a></li>
			  				<li class="last"><a target="_blank" href="http://yeswecrowd.co/images/kit_presse.pdf"><%= t(:presskit) %></a></li>
			  	    </ul>
			    	</div>
			  	</div>
			  </div>

			</div>
		</div> <!-- .container -->

	<div class="now">

		<div class="container">
		<h4 class="text-center"><%=t(:fameheading)%></h4>
		
		<ul class="la-presse">
			<% data.publications.journal.each_with_index do |journal, index| %>
			  <li class="<%=journal.img%>">
				  <% link_to journal.url, :target => '_blank', :title => journal.title  do %>
				    <%= image_tag journal.img + '.png', :alt => journal.name %>
				  <% end %>
			  </li>
			<% end %>
		</ul>
	</div>


	<%= partial "footer" %>
	
	</div>

</div> <!-- end MAIN -->

<%= javascript_include_tag  'jquery.min', 'jquery.easing.min', 'bootstrap.min', 'app', 'flipclock.min'%>		    

<script type="text/javascript">

	$(document).ready(function() {

		var clock = $('.your-clock').FlipClock({
			clockFace: 'DailyCounter',
			countdown: true,
			autoStart: false,
			language:'French'
		});

		var date1 = new Date();
		var date2 = new Date("6/06/2015");
		var timeDiff = Math.abs(Math.round((date2.getTime() - date1.getTime())/1000));
		clock.setTime(timeDiff);
		clock.start();

	});
</script>

