---
pageable: true
per_page: 10
layout: blank
---

<div class="bannier">
  <img src="../images/peoples3.jpg" style="width:100%;" class="img-responsive">
</div>


<div data-target="#twtimeline" class="container buzz">
  <div class="row">

    <div class="col-sm-5">
      <div id="fixthis">
        <div id="twtimeline">
          <a class="twitter-timeline" href="https://twitter.com/hashtag/yeswecrowd" data-widget-id="593422708513320960">#yeswecrowd Tweets</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
      </div>
    </div>

    <div class="col-sm-7 press">
      <h2>Ils parlent de nous</h2>
      <ul class="citations">
        <li>
          <div class="first">
            <%= image_tag 'les_echos.png', :alt => "Les Echos", :class => "echos" %>
          </div>
          <blockquote><p><a target="_blank" title="A Paris, Numa ouvre son capital et s’exporte hors des frontières" href="http://www.lesechos.fr/pme-regions/actualite-pme/02123799893-a-paris-numa-ouvre-son-capital-et-sexporte-hors-des-frontieres-1113586.php">"Objectif: ouvrir des sites dans 15 pays et accompagner 700 start-up"</a></p><strong>Les Echos</strong></blockquote>
        </li>
        <li>
          <div class="first">
            <%= image_tag 'l_adn.png', :alt => "l' ADN", :class => "ladn" %>
          </div>
          <blockquote><p><a target="_blank" title="NUMA OUVRE SON CAPITAL" href="http://www.ladn.eu/actualites/marque,numa-ouvre-capital,30,26107.html?utm_campaign=newsletter-s17-23_04_2015&utm_source=docnews-newsletter&utm_medium=email&utm_content=numa-ouvre-capital">le NUMA se veut un vecteur de croissance où start-up, grands groupes, PME, communautés et institutions publiques créent ensemble de la valeur</a></p><strong>L'ADN</strong></blockquote>
        </li>
        <li>
          <div class="first">
            <%= image_tag 'lusine_digitale.png', :alt => "L'usine Digitale", :class => "usine" %>
          </div>
          <blockquote><p><a target="_blank" title="Numa change de modèle et de dimension" href="http://www.usine-digitale.fr/article/numa-change-de-modele-et-de-dimension.N326225">"Numa va aussi mettre le paquet sur ses opérations d'open innovation"</a></p><strong>Usine Digitale</strong></blockquote>
        </li>      
        <li>
          <div class="first">
            <%= image_tag 'jdn.png', :alt => "JDN", :class => "jdn" %>
          </div>
          <blockquote><p><a target="_blank" title="Numa ouvre son capital et espère lever jusqu'à 1 million d'euros" href="http://www.journaldunet.com/web-tech/start-up/numa-levee-fonds-internationalisation-0415.shtml">"Nul besoin de Numa à Berlin ou San Francisco, nous allons faire éclore des Numa ailleurs"</a></p><strong>JDN</strong></blockquote>
        </li>
        <li>
          <div class="first">
            <%= image_tag 'atelier.png', :alt => "L’ATELIER", :class => "atelier" %>
          </div>
          <blockquote><p><a target="_blank" title="NUMA : le crowdequity, levier d'un changement de modèle" href="http://www.atelier.net/trends/articles/numa-crowdequity-levier-un-changement-de-modele_435087">"La volonté est de réimpulser l'argent gagné grâce aux start-up dans d'autres start-up afin de créer une forme d'argent vertueux, un monde plus inclusif"</a></p><strong>L'Atelier</strong></blockquote>
        </li>
        <li>
          <div class="first">
            <%= image_tag 'maddyness.png', :alt => "Maddyness", :class => "maddyness" %>
          </div>
          <blockquote><p><a target="_blank" title="NUMA se donne 4 ans pour accélérer 700 startups dans le monde entier" href="http://www.maddyness.com/accompagnement/accelerateurs/2015/04/23/yeswecrowd-numa-se-donne-4-ans-pour-accelerer-700-startups-dans-le-monde-entier/">"Développement commercial et internationalisation, un NUMA nouveau prend son envol."</a></p><strong>Maddyness</strong></blockquote>
        </li>
        <li>
          <div class="first">
            <%= image_tag 'la_tribune.png', :alt => "La Tribune", :class => "tribune" %>
          </div>
          <blockquote><p><a target="_blank" title="L'accélérateur de startups Numa met le turbo dans les pays émergents" target="_blank" href="http://www.latribune.fr/technos-medias/start-up/l-accelerateur-de-startups-numa-met-le-turbo-dans-les-pays-blockquoteergents-470827.html">"Le Numa s'est fixé pour objectif dans les 4 ans à venir de participer à la transformation numérique de 250 grandes entreprises, d'accélérer 700 startups, dont deux tiers de françaises, et d'y investir, pour un montant cumulé de l'ordre de 24 millions d'euros (y compris les plus-values réinvesties)."</p><strong>La Tribune</strong></blockquote>
        </li>
        <li>
          <div class="first">
            <%= image_tag 'strategies.png', :alt => "Strategies", :class => "strategies" %>
          </div>
          <blockquote><p><a target="_blank" title="Le numa espère lever un million d’euros" href="http://www.strategies.fr/actualites/marques/1013225W/le-numa-espere-lever-un-million-d-euros.html">"Apres l’ouverture d’un bureau à Moscou, Numa table sur quinze nouveaux sites d’ici à 2019 dans les régions en développblockquoteent (Afrique, Asie et Amérique du Sud)."</a></p><strong>Stratégies</strong></blockquote>
        </li>
        <li>
          <div class="first">
            <%= image_tag 'le_figaro.png', :alt => "Le Figaro", :class => "figaro" %>
          </div>
          <blockquote><p><a target="_blank" title="Numa, fidèle soutien des start-up parisiennes, change de dimension" target="_blank" href="http://www.lefigaro.fr/secteur/high-tech/2015/04/22/01007-20150422ARTFIG00194-numa-fidele-soutien-des-start-up-parisiennes-change-de-dimension.php">Il ne s'agit pas de plaquer notre marque à l'étranger, mais de créer un réseau mondial d'innovation qui facilite les échanges et ne soit pas simplblockquoteent centré sur Paris» : un chblockquoteinblockquoteent, une fois encore, pas si éloigné de celui blockquoteprunté par les start-up qu'il accompagne.</a></p><strong>Le Figaro</strong></blockquote>
        </li>
        <li>
          <div class="first">
            <%= image_tag 'digital_business_news.png', :alt => "DIGITAL BUSINESS NEWS", :class => "digital" %>
          </div>
          <blockquote><p><a target="_blank" title="#YesWeCrowd NUMA lance sa campagne de crowdfunding" href="http://www.digitalbusinessnews.com/yeswecrowd-numa-lance-sa-campagne-de-crowdfunding">Numa voit grand. La pépinière accélératrice de startups compte aujourd’hui devenir leader européen de l’accélération de start-ups et de la transformation digitale, en exportant son modèle auprès d’autres écosystèmes étrangers en mutation.</a></p><strong>Digital Business News</strong></blockquote>
        </li>
        <li>
          <div class="first">
            <%= image_tag 'jgp.png', :alt => "Le Journal du Grand Paris", :class => "jgp" %>
          </div>
          <blockquote><p><a target="_blank" title="Numa cherche des fonds pour conquérir le monde" href="https://www.lejournaldugrandparis.fr/numa-cherche-des-fonds-pour-conquerir-le-monde/">A l'international, « Nous faisons le choix de rencontrer des gens qui partagent nos valeurs, de travailler avec des partenaires locaux</a></p><strong>Le Journal du Grand Paris</strong></blockquote>
        </li>
        <li>
          <div class="first">
            <%= image_tag 'alliancy.png', :alt => "Alliancy", :class => "alliancy" %>
          </div>
          <blockquote><p><a target="_blank" title="Le NUMA amorce une levée de fonds pour s’exporter" href="http://www.alliancy.fr/startup-et-levees-de-fonds/start-up/2015/04/24/le-numa-amorce-une-levee-de-fonds-pour-sexporter">Quoi vous n'avez pas encore participé à la levée de fonds du NUMA ?</a></p><strong>Alliancy</strong></blockquote>
        </li>
        <li>
          <div class="first">
            <%= image_tag 'goodmorningcrowdfunding.jpg', :alt => "Good Morning Crowdfunding", :class => "gmc" %>
          </div>
          <blockquote><p><a target="_blank" title="Numa s’aide du crowdfunding pour conquérir le monde" href="http://www.goodmorningcrowdfunding.com/expansion-numa-saide-du-crowdfunding-pour-conquerir-le-monde-2304153/">"Numa s’aide du crowdfunding pour conquérir le monde"</a></p><strong>Good Morning Crowdfunding</strong></blockquote>
        </li>
      </ul>
    </div>
    
  </div>
</div>

<%= javascript_include_tag 'jquery.min', 'bootstrap.min'%>

<script>
  $('#fixthis').affix({
    offset: {
      top: 250,
      bottom: function () {
        return (this.bottom = $('.footer').outerHeight(true))
      }
    }
  });
</script>