---
pageable: true
per_page: 10
layout: blank
---

<div class="container-fluid recom-banner">
	<%=image_tag 'bannier_recommendations.jpg', :class=> 'center-block img-responsive' %>
</div>
<div class="container merci">
	<ul class="recommendations">
		<li>
			<div>
				<strong class="th"><%= image_tag "pierre_etienne.jpg" %></strong>
				<h4>Pierre-Etienne Pommier</h4>
				<em>CEO &amp; founder chez Pythagora</em>
			</div>
			<p><em>La participation de Pythagora au programme Rise a été une expérience formidable. Les équipes et le positionnement 
			original du NUMA en font un des meilleurs espaces à Paris pour créer, innover, inventer, et même rêver !</em></p>
			<a class="twt" target="_blank" href="http://twitter.com/@pepommier">@pepommier</a>
		</li>
		<li>
			<div>
				<strong class="th"><%= image_tag "valerie_farcy.jpg" %></strong>
				<h4>Valérie Farcy</h4>
				<em>Swiss Knife</em>
			</div>
			<p><em>Simply the best accelerator in France, with a proven track record. For many years Numa, previously known as silicon sentier,
			 works for the spread of a digital culture and promotes the emergence of individual and collective projects. Amazing team, incredible execution</em></p>
			 <a class="twt" target="_blank" href="http://twitter.com/@VF4rcy">@VF4rcy</a>
		</li>
		<li>
			<div>
				<strong class="th"><%= image_tag "yannig_raffenel.jpg" %></strong>
				<h4>Yannig Raffenel</h4>
				<em>Directeur Editorial et Pédagogique chez OpenClassrooms</em>
			</div>
			<p><em>Ou comment assembler valeurs humaines, sociales et développement de l'entreprenariat ! Le Numa est porteur de tout cela, en plus d'être une opportunité 
			réelle d'écrire le futur chaque jour en se faisant plaisir.</em></p>
			<a class="twt" target="_blank" href="http://twitter.com/@Yannig35">@Yannig35</a>
		</li>
		<li>
			<div>
				<strong class="th"><%= image_tag "laurent_igolen.jpg" %></strong>
				<h4>Laurent Igolen</h4>
				<em>Fondateur @ ideesport.fr</em>
			</div>
			<p><em>Le laboratoire de l'innovation qui place l'humain au centre de sa stratégie.</em></p>
			<a class="twt" target="_blank" href="http://twitter.com/@laurentigolen">@laurentigolen</a>
		</li>
		<li>
			<div>
				<strong class="th"><%= image_tag "guillaume_cabanne.jpg" %></strong>
				<h4>Guillaume Cabanne</h4>
				<em>Head of Growth Marketing @Mention</em>
			</div>
			<p><em>Best accelerator in France, mostly due to it's incredible execution.</em></p>
			<a class="twt" target="_blank" href="http://twitter.com/@guillaumecabane">@guillaumecabane</a>
		</li>
	</ul>
	<div>
		<p class="text-center">
			<strong><a class="btn btn-black" href="/recommandation">Je Recommande</a></strong>
		</p>
	</div>
</div>