---
pageable: true
per_page: 10
layout: blank
---

<div class="container-fluid recom-banner">
	<div class="holder">
		<br>
		<br>
		<br>
		<br>
	</div>
</div>

<div class="container merci">
	<ul class="recommendations">
		<h1 class="text-center special"><a href="/recommandation">J'écris un mot</a></h1>
		<% blog.articles.select do |article| %>
			<% if article.data.category == 'recommandations' %>
				<li>
					<div>
						<strong class="th"><%= image_tag article.data.info.photo %></strong>
						<h4><a href="<%= article.url %>"><%= article.title %></a></h4>
						<em><%= article.data.info.job %></em>
					</div>
					<%= article.summary(300, '') %>
					<em><a target="_blank" title="twitter.com/@<%= article.data.info.twitter %>" href="http://twitter.com/@<%= article.data.info.twitter %>">@<%= article.data.info.twitter %></a></em>
				</li>
			<% end %>
		<% end %>

	</ul>
	<div>
		<p class="text-center">
			<strong><a class="btn btn-black" href="/recommandation">Je Recommande</a></strong>
		</p>
	</div>
</div>